@CHARSET "UTF-8";

/* UI 基础样式 */
.ui {
	
}

/* UI 组件基础样式 */
.ui-view {
	
}

/* UI 图标基础样式 */
.ui-icon {
	color: #008dd5;
}

/* 红色 */
.ui-red {
	color: #f50000;
}

/* 黄色 */
.ui-yellow {
	color: #f8c800;
}

/* 绿色 */
.ui-green {
	color: #00c14b;
}

/* 灰色 */
.ui-gray {
	color: #ddd;
}

