@CHARSET "UTF-8";
/*
* 2015-09-02
* 张龙
*项目详情
*/
/* more*/
.m_product_details{
	margin-top:1.5rem;
	background-color:#fff;
	padding:1rem;
	overflow:hidden;
	margin-bottom:1.5rem;
	}
.m_product_details .m_product_img{
	float: left;
	width: 37%;
	height: 6.7rem;
	overflow: hidden;
	position:relative;
}
.m_product_details .m_product_img img{
	width: 100%;
}
.m_product_title{
	  width: 59%;
  float: right;
	}
.m_product_title h2{
	font-size:1.4rem;
	line-height:1.6rem;
	color:#333;
	min-height:3.6rem;
	overflow:hidden;
	margin-bottom:0.4rem;
	}
.m_product_title span{
	color:#999;
}
.m_product_title p a{
  display: inline-block;
  width: 100%;
  height: 2.4rem;
  background-color: #44b1f1;
  line-height: 2.4rem;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}
/*m_product_bar*/
.m_product_bar{
	height:1.4rem;
	line-height:1.4rem;
	clear:both;
	padding-top:0.3rem;
}
.m_product_prosess{
	height:0.5rem;
	background:#e5e5e5;
	clear:both;
	margin-top:0.5rem;
	width:85%;
	float:left;
	overflow:hidden;
}
.m_product_prosess span{
	display:inline-block;
	height:0.5rem;
	background-color: #44b1f1;
	float:left;
}
.m_product_bar em{
	float:left;
	font-size:1.2rem;
	color:#333;
	padding-left:0.4rem;
	line-height:1.2rem;
	display:inline-block;
	font-style:normal;
	
}
.m_product_ul{
	margin-top:0.5rem;
	float:left;
	width:100%;
	padding-top:0.5rem;
	border-top:1px solid #e5e5e5;

}

.m_product_ul ul{
	display:table;
	width:100%;
}
.m_product_ul ul li{
	display:table-cell;
	line-height:1.6rem;
	font-size:1.2rem;
	color:#999;
	width:50%;
}
.m_product_ul ul li span{
	color:#999;
}
.m_product_ul ul li em{
	font-style:normal;
	color:#666;
}
/*m_product_content*/
.m_product_content{
	
	background-color:#fff;
}
.m_product_content_wrap{
	padding:0 1rem 1rem;
}
.m_product_content h2{
	line-height:4.4rem;
	font-size:1.6rem;
	color:#333;
	padding:0 1rem;
}
.m_product_content p{
	line-height:1.8rem;
	font-size:1.4rem;
	color:#666;

}
.m_product_content p.txt{
	padding:1rem 0;
}
.m_product_content_link{
	text-align:center;
	display: table;
	padding-top: 0.5rem;
	width: 100%;
	
}
.m_product_content_link a{
	line-height:2.4rem;
	color:#999;
	border:1px solid #999;
	border-left:0;
	font-size:1.4rem;
	text-align:center;
	display: table-cell;
	
}
.m_product_content_link a:first-child{
	border-left:1px solid #999;


}
.m_product_content h3{
	font-size:1.6rem;
	color:#333;
	line-height:4.4rem;
	padding-bottom:0.5rem;
}
.m_product_content_wrap .line{
	border-bottom:1px solid #ddd;
	width:100%;
	height:2rem;
	display:block;
	overflow:hidden;
}

/**********  m_product_partner  *****************/
.m_product_partner{
	padding:1rem;
	background:#fff;
	margin-top:1.5rem;
}
.m_product_partner_title{
	position:relative;
	height:3rem;
	font-size:1.4rem;
}
.m_product_partner_title h2{
	line-height:3rem;
	font-size:1.6rem;
	
}
.m_product_partner_title a{
	position:absolute;
	top:0.6rem;
	right:0;
	color:#44b1f1;
}
.m_product_partner_wrap{
	padding-right:1rem;
}
.m_product_partner_item{
	padding:1.5rem 0;
	overflow:hidden;
}
.m_product_partner_img{
	width:5rem;
	height:5rem;
	overflow:hidden;
	float:left;
	border-radius:50%
}
.m_product_partner_img img{
	width:100%;
}
.m_product_partner_info{
	padding-left:7rem;
}
.m_product_partner_info_tit{
	position:relative;
}
.m_product_partner_info_tit h3{
	line-height:3rem;
}
.m_product_partner_info_tit em{
	position:absolute;
	top:0;
	right:0;
	font-style:normal;
}
.m_product_partner_info_txt p{
	
}


/*************  m_product_invistor  ***************/

.m_product_invistor{
	padding:0 1rem;
	background:#fff;
	margin-top:1.5rem;
}
.m_product_invistor_title{
	height:2.5rem;
	width:100%;
	overflow:hidden;
	display:block;
	padding-top:1rem;
}
.m_product_invistor_title h2{
	font-size:1.6rem;
	float:left;
	line-height:2.5rem;
}
.m_product_invistor_title span{
	float:left;
	font-size:1rem;
	color:#999;
	line-height:2.5rem;
	margin:0.1rem 0 0 0.2rem;
}
.m_product_invistor_title a{
	float:right;
	color:#44b1f1;
	line-height:2.5rem;
	padding:0 1rem;
}
.m_product_invistor_wrap{
	padding:1.5rem 0;
	overflow:hidden;
}
.m_product_invistor_wrap_img{
	float:left;
	width:6rem;
	height:6rem;
	overflow:hidden;
	border-radius:50%;
}
.m_product_invistor_wrap_img img{
	width:100%;
}
.m_product_invistor_wrap_txt{
	padding-left:7.5rem;
}
.m_product_invistor_wrap_txt h2{
	font-size:1.6rem;
	color:#333;
	padding-bottom:0.6rem;
}
.m_product_invistor_wrap_txt div{
	padding:0.8rem 0 1rem;
}
.m_product_invistor_wrap_txt div span{
	font-size:1.2rem;
	color:#333;
}
.m_product_invistor_wrap_txt div em{
	font-size:1.2rem;
}
.m_product_invistor_wrap_txt span i{
	font-size:1.2rem; 
	color:#999;
}
.m_product_invistor_wrap_txt .list_right{
	float:right;
}
.m_product_invistor_wrap_txt p{
	width:100%;
	display:block;
	overflow:hidden;
	line-height:1.8rem;
}
.m_product_invistor_wrap_txt p label, .m_product_invistor_wrap_txt p span{
	font-size:1.2rem;
	color:#999;
}
.m_message{
	line-height:1.8rem;
	font-size:1.2rem;
}
.m_message label, .m_message span{
	font-size:1.2rem;
	color:#999;
}
.m_product_invistor_wrap_txt span em{
	font-style:normal;
	padding-left:0.8rem;
}


/*m_product_login*/
.m_product_login{
	padding:1.5rem 0px 8rem;
	text-align:center;
	border-top:1px dashed #eee;
}
.m_product_content .m_product_login h2{
	line-height:4.4rem;
	font-size:1.2rem;
	color:#333;
	padding:0 1rem;
}
.m_product_login h1{
	line-height:2.6rem;
	font-size:1.6rem;
}
.m_product_login span{
	line-height:2.4rem;
	font-size:1.4rem;
	color:#44b1f1;
	background-color:#fff;
	border:1px solid #44b1f1;
	display:inline-block;
	width:8rem;
}

.yuyue_btn{
	overflow: hidden;
} 
.yuyue_btn a.btn{
	margin:0 0 0.5rem;
	width: 100%;
	height: 3.4rem;
	line-height: 3.4rem;
}

/*me_project_list*/
#me_project_list{
	padding: 4rem 0rem;
}
#me_project_list span{
	width:2.5rem;
	height:3rem;
	display:block;
	overflow:hidden;
	margin:0 auto;
	background:url(/m/img/no_project_icon.png) top center no-repeat;
	background-size: 100% 100%;
}
#me_project_list h1{
	font-size:1.6rem;
	text-align:center;
	width:100%;
	line-height: 5.6rem;
	  color: #333;
	  margin-bottom: 2rem;
}




