@CHARSET "UTF-8";
/*
* 2015-07-17
* 张龙
*/


/**** header  ****/

.top_nav{
    height: 5rem;
    width: 100%;
    background:#222222;
    line-height: 5rem;
    position:fixed;
    z-index:20;
    /*-webkit-border-image: url("/css/2.0/img/home_border_line.png") 2 stretch;
    -moz-border-image: url("/css/2.0/img/home_border_line.png") 2 stretch;
    border-image: url("/css/2.0/img/home_border_line.png") 2 stretch;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;*/
    border-bottom: 1px solid #ccc;

}
.m_logo{
    float: left;
    margin: 1.3rem 0 0 1rem;
    height: 2.4rem;
    width: 6.2rem;
    display: inline-block;
    overflow: hidden;
    background: url("/mobile/img/logo.png") no-repeat center center;
    background-size: 6.2rem 2.4rem;
}
.m_logo:active{
    width: 6.2rem;
    height: 2.4rem;
}
a.m_menu{
    background: url(/mobile/img/m_menu.png) no-repeat 0 0;
    background-size: 2.1rem 10rem;
    width: 2.1rem;
    height: 2.4rem;
    float: right;
    margin: 1.3rem 1rem 0 0;
}
a.m_menu_on{
    background-position: 0 -5rem;
}
.m_menu_box{
    display: none;
    padding: 0 1rem;
    overflow: hidden;
    position: fixed;
    top: 3.7rem;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    text-align: left;
}
.m_menu_list{
    padding: 0 1.5rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
}
.m_menu_list .m_menu_section{
    width: 100%;
    border-bottom: 1px solid #ededed;
}
.m_menu_list .m_menu_section>a{
    display: block;
    height: 4.5rem;
    line-height: 4.5rem;
    color: #333;
    padding-left: 2.4rem;
    font-size: 1.2rem;
    background: url("/mobile/img/head_icon.png") no-repeat;
    background-size: 1.1rem 15rem;
    position: relative;
}
.m_menu_list .m_menu_section>a.icon_1{
    background-position: 0 1.8rem;
}
.m_menu_list .m_menu_section>a.icon_2{
    background-position: 0 -3.2rem;
}
.m_menu_list .m_menu_section>a.icon_3{
    background-position: 0 -8.2rem;
}
.m_menu_list .m_menu_section>a::after{
    content: '';
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #999;
    position: absolute;
    right: 0.2rem;
    top: 1.9rem;
}
.m_menu_list>.selected>a::after{
    border-color: #44b1f1;
    background: #44b1f1;
}
.m_menu_list .m_menu_section ul{
    width: 100%;
    display: none;
}
.m_menu_list .m_menu_section ul li{
    border-top: 1px solid #ededed;
    height: 4.5rem;
    line-height: 4.5rem;
    padding-left: 4rem;
    position: relative;
}
.m_menu_list .m_menu_section ul li a{
    color: #999;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.m_menu_list .m_menu_section ul li::after{
    content: '';
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #999;
    position: absolute;
    right: 0.2rem;
    top: 1.9rem;
}
.m_menu_list .m_menu_section ul li:hover::after{
    border-color: #44b1f1;
    background: #44b1f1;
}
.m_menu_list .m_menu_section ul li:hover a{
    color: #44b1f1;
}
.m_menu_list .m_menu_section ul li.selected::after{
    border-color: #44b1f1;
    background: #44b1f1;
}
.m_menu_list>.selected ul{
    display: block;
}

/*nav_table*/

.nav_table{
    width: 100%;
    height:3.7rem;
    padding-top:4.5rem;
    background-color: #fff;
}
.nav_table a{
    width: 50%;
    height: 3.5rem;
    line-height: 3.5rem;
    display: inline-block;
    float: left;
    border-bottom:0.2rem solid transparent;
    text-align: center;
    font-size: 1.4rem;

    color: #666666;
}
.nav_table a.m_active{
    color: #44b1f1;
    border-bottom:0.2rem solid #44b1f1;
}