@CHARSET "UTF-8";
/*
* 2015-09-01
* 张龙
*/
/* more*/
.m_product_list_div{
	text-align: center;
}
.m_product_list{
	display:block;
	background-color: #fff;
	padding:0 1rem; 
	margin-bottom: 1.5rem;
	text-align: left;
    /*width: 25rem;*/
    text-align: left;

}

.m_product_list .list_top{
	
	-webkit-border-image: url("/mobile/img/border_line.png") 2 stretch;
    -moz-border-image: url("/mobile/img/border_line.png") 2 stretch;
    border-image: url("/mobile/img/border_line.png") 2 stretch;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
	overflow: hidden;
}
.m_product_list .list_top .m_product_img{
	float: left;
	width: 37%;
	height: 8rem;
	overflow: hidden;
	position:relative;
}
.m_product_list .list_top .m_product_img img{
	width: 100%;
}


.m_product_img span{
	display: inline-block;
	padding: 0 0.3rem;
	float: left;
	height: 1.4rem;
	line-height: 1.4rem;
	background: #10B304;
	color: #fff;
	font-size: 1rem;
	margin-right: 0.6rem;
    position:absolute;
    bottom:0px;
    left:0px;

}

.m_product_img span.sp1{
	background-color:#166dd6;
}
.m_product_img span.sp2{
	background-color:#3dc37f;
}
.m_product_img span.sp3{
	background-color:#fe813d;	
}

.m_product_img span.sp4{
	background-color:#166dd6;
}
.m_product_img span.sp10{
	background-color:#166dd6;
}
.m_product_img span.sp5{
	background-color:#166DD6;
}

.m_product_img span.sp6{
	background-color:#4499ff;
}
.m_product_img span.sp7{
	background-color:#166DD6;
	}
.m_product_img span.sp8{
	background-color:#166DD6;
	}
.m_product_img span.sp9{
	background-color:#166DD6;
	}
.m_product_img span.sp30{
	background-color:#765c99;
	}
.m_product_list .list_top .m_product_right{
	width: 59%;
	float: right;
}
.m_product_list .list_top .m_product_right h3{
	font-family: "微软雅黑";
	font-weight: 100;
	font-size: 1.6rem;
	height: 1.8rem;
	overflow: hidden;
	line-height: 1.8rem;
	margin-bottom:0.7rem;
	margin-top: 0px;
	}
.m_product_right h3 em{
	color:#ff0000;
}
.m_product_list .list_top .m_product_right h4{
	line-height:1.8rem;
	font-weight:normal;
	margin-bottom:0.7rem;
	height: 1.79999rem;
	overflow: hidden;
	
	}
.m_product_list .list_top .m_product_right h4 span	
	{
		color:#f28d00;
		display:inline-block;
		line-height:1.6rem;
		padding:0 0.3rem;
		font-size:1.2rem;
		border:0.1rem solid #f28d00;
	}
.m_product_list .list_top .m_product_right h4 em{
	font-style:normal;
	color:#333;
	padding-left:0.4rem;
}
.m_product_right ul{
	width:100%;
	display:table;
}

.m_product_right ul li{
	display:table-cell;
	font-size:1.2rem;
	line-height:rem;
}
.m_product_right ul li em{
	font-size:1.2rem;
	color:#333;
	font-style:normal;
}
.m_product_right ul li span{
	font-size:1.2rem;
	color:#666;
}
	
	
.m_list_bottom{
	height: 3.8rem;
	line-height: 3.8rem;
	display: table;
	width: 100%;
}
.m_list_bottom ul{
	width:100%;
	display:table;
	
	}
.m_list_bottom ul li{
	display:table-cell;
	height: 3.6rem;
	line-height: 3.6rem;
	font-size: 1.2rem;
	color: #666666;
	
	} 
.m_list_bottom ul li i{
	color:#333;
}
/*product_list*/
.m_product_list_btn{
	text-align:center;
	display: table;
	width: 100%;
	padding-bottom:1rem;
}
.m_product_list_btn .btn{
	line-height:3.2rem;
	height:3.2rem;
}
.m_product_list_btn .a_btn{
	line-height:2.4rem;
	color:#999;
	border:1px solid #999;
	border-left:0;
	font-size:1.4rem;
	text-align:center;
	display: table-cell;
}
.m_product_list_btn a:first-child{
	border-left:1px solid #999;


}




