@CHARSET "UTF-8";
/*
* 2015-07-06
* 张龙
*/
.tip{
	height:3.9rem;
	width:100%;
	text-align:center;
	line-height:3.9rem;
	background: rgba(226,116,116,1);
	overflow:hidden;
	position:absolute;
	top: 4rem;
	left: 0px;
	z-index: 1;
}

.tip em{
	color:#fff;
	font-size:1.4rem;
	padding-left:2.5rem;
	display:inline-block;
	line-height:3.9rem;
	background:url(/mobile/img/tip_ico.png) left center no-repeat;
	background-size:2.1rem 2.1rem;
	font-style: normal;
}
